body, html {
    height: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #282A36;
    color: #50FA7B;
}

.terminal {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #50FA7B;
    border-radius: 8px;
    background-color: #282A36;
}

header {
    font-weight: bold;
}

.content p {
    margin-top: 10px;
}
